<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Préfecture de Police de Paris - Accueil</title>
    <base href=".">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>
<body>
    <p>Bienvenue à la préfecture de Police de Paris.</p>
    <p>Adresse pour récupérer le nombre de point : GET http://prefecture-paris.fr/pointspermis avec dans les headers : 'Authorization: Bearer ' . $accessToken
</body>